@import url("https://fonts.cdnfonts.com/css/euclid-flex");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Koho", sans-serif;
  font-family: "Euclid Triangle", sans-serif;
}

.index {
  width: 100%;
  height: 100%;
  background: #ffffff;
}

.navbar {
  width: 100%;
  height: 100px;
  background: #05306E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: fixed;
  z-index: 999;
}

.navbar > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar > ul > li {
  list-style: none;
  margin: 0 40px;
}

.navbar > ul > li > a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}

.navbar-toggle {
  display: none;
}

.navbar > img {
  width: 300px;
}

@media (max-width: 850px) {
  .navbar {
    padding: 0 20px;
  }
  .navbar > img {
    width: 200px;
  }
  .navbar-toggle {
    display: block;
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 30px;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
  }
  .navbar > ul {
    text-align: center;
    align-items: center;
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #05306E;
    padding: 20px;
    box-sizing: border-box;
  }
  .navbar > ul > li {
    display: block;
    margin-bottom: 10px;
  }
  .navbar > ul > li > a {
    font-size: 18px;
  }
  .navbar-toggle.active {
    display: block;
  }
  .navbar > ul.active {
    display: block;
  }
}
/*----------------------------------------------------*/
footer {
  padding-bottom: 0px;
}
footer section {
  width: 100%;
  height: 185px;
  background-color: #05306E;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  z-index: 999;
  margin-top: 85px;
  color: white;
  font-family: "Euclid Triangle", sans-serif;
  font-size: 16px;
}
footer section .footerSection1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 900px;
}
footer section .footerSection1 a, footer section .footerSection1 a:link, footer section .footerSection1 a:visited, footer section .footerSection1 a:active, footer section .footerSection1 a:hover {
  text-decoration: none;
  color: white;
}
footer section .footerSection2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 900px;
}
footer section .footerSection2 a, footer section .footerSection2 a:link, footer section .footerSection2 a:visited, footer section .footerSection2 a:active, footer section .footerSection2 a:hover {
  text-decoration: none;
  color: white;
}
footer section .footerSection3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 900px;
}
footer section .footerSection3 a, footer section .footerSection3 a:link, footer section .footerSection3 a:visited, footer section .footerSection3 a:active, footer section .footerSection3 a:hover {
  color: white;
}
footer section .footerSectionFirstLine {
  margin-bottom: 25px;
}
@media screen and (max-width: 1117px) {
  footer .footerSection1, footer .footerSection2, footer .footerSection3 {
    width: 700px;
  }
}
@media screen and (max-width: 780px) {
  footer .footerSection1, footer .footerSection2, footer .footerSection3 {
    width: 400px;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
  }
}

.tempMarg {
  height: 185px;
}

/*----------------- Section referencement de particulier -------------------*/
.refParticuliers {
  display: flex;
  justify-content: center;
  align-items: center;
}
.refParticuliers .refParticuliersBox {
  background-color: #05306E;
  color: white;
  width: 1200px;
  height: 260px;
  border-radius: 20px;
  margin-top: 100px;
  padding: 40px 50px 80px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.refParticuliers .refParticuliersBox .refParticuliersDesc {
  font-family: "Euclid Triangle", sans-serif;
  margin-right: 183px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.refParticuliers .refParticuliersBox .refParticuliersDesc .refParticuliersTitle {
  font-size: 32px;
}
.refParticuliers .refParticuliersBox .refParticuliersDesc .refParticuliersText {
  font-size: 20px;
}
.refParticuliers .refParticuliersBox .refParticuliersButtonBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 35px;
  margin-top: 20px;
}
.refParticuliers .refParticuliersBox .refParticuliersButtonBox .refParticuliersButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: #0952BA;
  color: white;
  border: none;
  font-family: "Euclid Flex";
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}
.refParticuliers .refParticuliersBox .refParticuliersButtonBox .refParticuliersButton a {
  font-family: "Euclid Flex";
  font-size: 24px;
  font-weight: bold;
}

/*----------------- Listes des partenaires -------------------*/
.partenaires {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partenaires .partenairesTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Euclid Flex SemiBold";
  font-size: 32px;
  margin-bottom: 20px;
  margin-top: 70px;
}
.partenaires .partenairesLogos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  gap: 10px;
}
.partenaires .partenairesLogos .img1 {
  width: 100px;
  height: 50px;
}
.partenaires .partenairesLogos .img2 {
  width: 112px;
  height: 83px;
}
.partenaires .partenairesLogos .img3 {
  width: 220px;
  height: 120px;
}
.partenaires .partenairesLogos .img4 {
  width: 100px;
  height: 100px;
}
.partenaires .partenairesLogos .img5 {
  width: 240px;
  height: 120px;
}
.partenaires .partenairesLogos .img6 {
  width: 100px;
  height: 90px;
}

/*----------------- Formulaire de contact -------------------*/
.contactSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactSection .contactTitle {
  font-family: "Euclid Flex SemiBold";
  font-size: 32px;
  margin-bottom: 35px;
  margin-top: 70px;
  margin-left: -600px;
}
.contactSection .contactForm {
  display: flex;
  flex-direction: column;
  width: 1100px;
  margin-top: 50px;
  align-items: center;
}
.contactSection .contactForm .contactFormUpperSide {
  display: flex;
  flex-direction: row;
}
.contactSection .contactForm .contactFormUpperSide .contactFormUpperLeftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 50px;
}
.contactSection .contactForm .contactFormUpperSide .contactFormUpperLeftSide input {
  font-family: "Euclid Flex";
  font-size: 24px;
  width: 390px;
  height: 55px;
  border-radius: 10px;
  margin-top: 25px;
  padding-left: 20px;
}
.contactSection .contactForm .contactFormUpperSide .contactFormUpperRightSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contactSection .contactForm .contactFormUpperSide .contactFormUpperRightSide input {
  font-family: "Euclid Flex";
  font-size: 24px;
  width: 380px;
  height: 55px;
  border-radius: 10px;
  margin-top: 25px;
  padding-left: 20px;
}
.contactSection .contactForm .contactFormBottomSide textarea {
  width: 820px;
  height: 280px;
  font-family: "Euclid Flex";
  font-size: 24px;
  border-radius: 14px;
  margin-top: 25px;
  padding-top: 20px;
  padding-left: 20px;
}
.contactSection .contactForm button {
  margin-top: 20px;
  width: 820px;
  height: 50px;
  border-radius: 10px;
  background-color: #0952BA;
  color: white;
  border: none;
  font-family: "Euclid Triangle", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.index {
  width: 100%;
  height: 100%;
}

/*------------    Page Contact   ------------*/
.contactBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactBody .contactPres {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 185px;
  padding-left: 150px;
  padding-right: 150px;
}
.contactBody .contactPres .contactTitle {
  font-family: "Euclid Flex Medium";
  font-size: 32px;
  margin-bottom: 20px;
}
.contactBody .contactPres .contactText {
  font-family: "Euclid Flex";
  font-size: 20px;
}
.contactBody .contactForm {
  display: flex;
  flex-direction: column;
  width: 1100px;
  margin-top: 50px;
  align-items: center;
}
.contactBody .contactForm .contactInputs {
  display: flex;
  flex-direction: row;
}
.contactBody .contactForm .contactInputs .contactFormLeftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 100px;
}
.contactBody .contactForm .contactInputs .contactFormLeftSide label {
  font-family: "Euclid Flex";
  font-size: 24px;
  margin-bottom: 25px;
}
.contactBody .contactForm .contactInputs .contactFormLeftSide input {
  width: 500px;
  height: 55px;
  border-radius: 10px;
  margin-top: 25px;
  padding-left: 20px;
}
.contactBody .contactForm .contactInputs .contactFormRightSide {
  display: flex;
  flex-direction: column;
}
.contactBody .contactForm .contactInputs .contactFormRightSide label {
  font-family: "Euclid Flex";
  font-size: 24px;
}
.contactBody .contactForm .contactInputs .contactFormRightSide input {
  width: 500px;
  height: 220px;
  border-radius: 10px;
  margin-top: 25px;
}
.contactBody .contactForm button {
  border: none;
  margin-top: 70px;
  width: 200px;
  height: 50px;
  border-radius: 23px;
  background-color: #0952BA;
  color: white;
  font-family: "Euclid Triangle", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

/*# sourceMappingURL=output.css.map */
