@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.index {
  width: 100%;
  height: 100%;
  background-color: beige;
}

.login {
  width: 100%;
  height: 100vh;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
}
.login .containerLeft {
  width: 45%;
  background-color: #123B2A;
  display: flex;
  align-items: center;
}
.login .containerLeft .title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login .containerLeft .title img {
  width: 60%;
}
.login .containerLeft .title h1 {
  font-family: "Kanit";
  color: #FFFFFF;
  font-size: 80px;
}
.login .containerRight {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login .containerRight .formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.login .containerRight .formContainer .mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;
  gap: 20px;
}
.login .containerRight .formContainer .mainContainer h2 {
  font-family: "Kanit";
  font-size: 36px;
}
.login .containerRight .formContainer .mainContainer p {
  font-family: "Euclid Flex";
  font-size: 20px;
  color: #434343;
}
.login .containerRight .formContainer form {
  width: 65%;
  gap: 30px;
  display: flex;
  flex-direction: column;
}
.login .containerRight .formContainer form .labelContainer {
  border: 1px solid #000000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px 15px;
}
.login .containerRight .formContainer form .labelContainer input {
  border: none;
  outline: none;
  font-family: "Roboto";
  font-size: 20px;
  color: #434343;
  width: 100%;
}
.login .containerRight .formContainer form button {
  background: #3A4D92;
  border-radius: 23px;
  border: none;
  padding: 15px 20px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  margin: 5% 25%;
}

.dashboardAdmin {
  width: 100%;
  padding-left: 20vw;
  display: flex;
  flex-direction: column;
  font-family: "Euclid Flex";
  gap: 20px;
}
.dashboardAdmin h1 {
  font-weight: 600;
  font-size: 26px;
  text-transform: uppercase;
  padding: 50px 50px 20px 50px;
}
.dashboardAdmin .optionBar {
  width: 100%;
  padding: 0px 50px 20px 50px;
}
.dashboardAdmin .optionBar form {
  background-color: #C9C9C9;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}
.dashboardAdmin .optionBar form .search {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
}
.dashboardAdmin .optionBar form .search input {
  width: 100%;
  border: none;
  border-radius: 25px;
  padding: 10px 15px;
  background: none;
  color: white;
}
.dashboardAdmin .optionBar form .search input::placeholder {
  color: white;
}
.dashboardAdmin .optionBar form .search input:focus {
  outline: none;
}
.dashboardAdmin .optionBar form input {
  border: none;
  border-radius: 25px;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 600;
  background: none;
}
.dashboardAdmin .optionBar form input::placeholder {
  color: white;
}
.dashboardAdmin .optionBar form button {
  background-color: #3A4D92;
  color: white;
  border-radius: 25px;
  padding: 10px 35px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
.dashboardAdmin .allcard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 0px 50px 20px 50px;
}
@media screen and (max-width: 1300px) {
  .dashboardAdmin .allcard {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 750px) {
  .dashboardAdmin .allcard {
    grid-template-columns: repeat(1, 1fr);
  }
}
.dashboardAdmin .allcard .card {
  background: #D9D9D9;
  border-radius: 20px;
}
.dashboardAdmin .allcard .card .card-header {
  width: 100%;
}
.dashboardAdmin .allcard .card .card-header img {
  width: 100%;
  max-height: 130px;
  object-fit: fill;
  border-radius: 20px 20px 0 0;
}
.dashboardAdmin .allcard .card .card-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 10px;
}
.dashboardAdmin .allcard .card .card-body .name {
  display: flex;
  flex-direction: column;
}
.dashboardAdmin .allcard .card .card-body .name h2 {
  font-weight: 400;
  font-size: 18px;
}
.dashboardAdmin .allcard .card .card-body .name p {
  color: #707070;
  font-size: 14px;
}
.dashboardAdmin .allcard .card .card-body .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.dashboardAdmin .allcard .card .card-body .info .tel {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.dashboardAdmin .allcard .card .card-body .info .tel p {
  color: #434343;
}
.dashboardAdmin .allcard .card .card-body .info .button {
  background: #3A4D92;
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px 15px;
}
.dashboardAdmin .allcard .card .card-body .info .button a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.dashboardRequest {
  width: 100%;
  padding-left: 20vw;
  display: flex;
  flex-direction: column;
  font-family: "Euclid Flex";
}
.dashboardRequest h1 {
  font-weight: 600;
  font-size: 26px;
  text-transform: uppercase;
  padding: 50px 50px 20px 50px;
}
.dashboardRequest .option {
  width: 100%;
  display: flex;
  gap: 100px;
  padding: 0 50px 35px;
  align-items: center;
}
.dashboardRequest .option .sort {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.dashboardRequest .option .sort input {
  background: #aeadad;
  border-radius: 10px;
  padding: 10px 15px;
  border: none;
  color: white;
}
.dashboardRequest .option .sort input:hover {
  cursor: pointer;
}
.dashboardRequest .option .filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  background: #aeadad;
  border-radius: 10px;
  padding: 10px 15px;
}
.dashboardRequest .option .filter select {
  background: none;
  border: none;
  color: white;
}
.dashboardRequest .option .filter select:hover {
  cursor: pointer;
}
.dashboardRequest .option .filter select:focus {
  outline: none;
}
.dashboardRequest .option .filter input {
  background: none;
  border: none;
  color: white;
}
.dashboardRequest .option .filter input:hover {
  cursor: pointer;
}
.dashboardRequest .allcard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 0px 50px 20px 50px;
}
@media screen and (max-width: 1300px) {
  .dashboardRequest .allcard {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 750px) {
  .dashboardRequest .allcard {
    grid-template-columns: repeat(1, 1fr);
  }
}
.dashboardRequest .allcard .card {
  background: #D9D9D9;
  border-radius: 20px;
}
.dashboardRequest .allcard .card .card-header {
  width: 100%;
}
.dashboardRequest .allcard .card .card-header img {
  width: 100%;
  max-height: 130px;
  object-fit: fill;
  border-radius: 20px 20px 0 0;
}
.dashboardRequest .allcard .card .card-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 10px;
}
.dashboardRequest .allcard .card .card-body .firstRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.dashboardRequest .allcard .card .card-body .firstRow .name {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.dashboardRequest .allcard .card .card-body .firstRow .name span {
  font-style: italic;
  font-size: 12px;
  color: #707070;
}
.dashboardRequest .allcard .card .card-body .firstRow .name .space h2 {
  font-weight: 400;
  font-size: 18px;
}
.dashboardRequest .allcard .card .card-body .firstRow .name .space p {
  color: #707070;
  font-size: 14px;
}
.dashboardRequest .allcard .card .card-body .firstRow .status {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 10px;
}
.dashboardRequest .allcard .card .card-body .firstRow .status p {
  color: #434343;
}
.dashboardRequest .allcard .card .card-body .firstRow .status img {
  width: 40%;
}
.dashboardRequest .allcard .card .card-body .info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.dashboardRequest .allcard .card .card-body .info .tel {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.dashboardRequest .allcard .card .card-body .info .tel p {
  color: #434343;
}
.dashboardRequest .allcard .card .card-body .info .button {
  background: #3A4D92;
  border-radius: 25px;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px 15px;
  gap: 10px;
}
.dashboardRequest .allcard .card .card-body .info .button a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.manageEstablishment {
  width: 100%;
  padding-left: 20vw;
  display: flex;
  flex-direction: column;
  font-family: "Euclid Flex";
}

.headerAdmin {
  height: 100%;
  position: fixed;
  background-color: #123B2A;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2% 2%;
}
.headerAdmin .logoContainer a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 100%;
  text-decoration: none;
}
.headerAdmin .logoContainer a img {
  width: 25%;
}
.headerAdmin .logoContainer a h1 {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  font-weight: 600;
  font-family: Kanit;
}
.headerAdmin .mainContainer {
  padding: 25% 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.headerAdmin .mainContainer nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 35px;
}
.headerAdmin .mainContainer nav .firstSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.headerAdmin .mainContainer nav .secondSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.headerAdmin .mainContainer nav a {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  color: #fff;
  text-decoration: none;
}
.headerAdmin .mainContainer nav h2 {
  font-size: 16px;
  font-family: euclid flex;
  font-weight: 500;
}
.headerAdmin .mainContainer nav span {
  font-size: 26px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  font-weight: 600;
  font-family: Kanit;
  padding-bottom: 10px;
}
.headerAdmin form {
  width: 100%;
  display: flex;
  align-items: left;
}
.headerAdmin form button {
  gap: 20px;
  border-style: none;
  display: flex;
  cursor: pointer;
  flex-direction: row;
  background: none;
  align-items: center;
}
.headerAdmin form button h2 {
  font-size: 16px;
  font-family: euclid flex;
  font-weight: 500;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
