@import url("https://fonts.cdnfonts.com/css/euclid-flex");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Koho", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Koho", sans-serif;
  font-family: "Euclid Triangle", sans-serif;
}

.index {
  width: 100%;
  height: 100%;
  background: #ffffff;
}

.navbar {
  width: 100%;
  height: 100px;
  background: #05306E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: fixed;
  z-index: 999;
}

.navbar > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar > ul > li {
  list-style: none;
  margin: 0 40px;
}

.navbar > ul > li > a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}

.navbar-toggle {
  display: none;
}

.navbar > img {
  width: 300px;
}

@media (max-width: 850px) {
  .navbar {
    padding: 0 20px;
  }
  .navbar > img {
    width: 200px;
  }
  .navbar-toggle {
    display: block;
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 30px;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
  }
  .navbar > ul {
    text-align: center;
    align-items: center;
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #05306E;
    padding: 20px;
    box-sizing: border-box;
  }
  .navbar > ul > li {
    display: block;
    margin-bottom: 10px;
  }
  .navbar > ul > li > a {
    font-size: 18px;
  }
  .navbar-toggle.active {
    display: block;
  }
  .navbar > ul.active {
    display: block;
  }
}
.index {
  width: 100%;
  height: 100%;
}

/*------------    Page Contact   ------------*/
.contactBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactBody .contactPres {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 185px;
  padding-left: 150px;
  padding-right: 150px;
}
.contactBody .contactPres .contactTitle {
  font-family: "Euclid Flex Medium";
  font-size: 32px;
  margin-bottom: 20px;
}
.contactBody .contactPres .contactText {
  font-family: "Euclid Flex";
  font-size: 20px;
}
.contactBody .contactForm {
  display: flex;
  flex-direction: column;
  width: 1100px;
  margin-top: 50px;
  align-items: center;
}
.contactBody .contactForm .contactInputs {
  display: flex;
  flex-direction: row;
}
.contactBody .contactForm .contactInputs .contactFormLeftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 100px;
}
.contactBody .contactForm .contactInputs .contactFormLeftSide label {
  font-family: "Euclid Flex";
  font-size: 24px;
  margin-bottom: 25px;
}
.contactBody .contactForm .contactInputs .contactFormLeftSide input {
  width: 500px;
  height: 55px;
  border-radius: 10px;
  margin-top: 25px;
  padding-left: 20px;
}
.contactBody .contactForm .contactInputs .contactFormRightSide {
  display: flex;
  flex-direction: column;
}
.contactBody .contactForm .contactInputs .contactFormRightSide label {
  font-family: "Euclid Flex";
  font-size: 24px;
}
.contactBody .contactForm .contactInputs .contactFormRightSide input {
  width: 500px;
  height: 220px;
  border-radius: 10px;
  margin-top: 25px;
}
.contactBody .contactForm button {
  margin-top: 70px;
  width: 200px;
  height: 50px;
  border-radius: 23px;
  background-color: #0952BA;
  color: white;
  font-family: "Euclid Triangle", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
