.tempMarg{
  height: 100px;
}

.sectionSearchBar{
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  .accessSearchBar{
    width: 660px;
    display: flex;
    align-items: center;
    .accessSearchInput{
      background-color: #C1C1C1;
      width: 660px;
      height: 50px;
      border-radius:330px;
      color: white;
      border: none;
      padding-left: 60px;
      ::placeholder{
        color: white;
      }
    }
    img{
      position: absolute;
      margin-left: 15px;
    }
  }
}

.AccessMap{
  display: flex;
  .Placeholder{
    width: 100%;
    height: 100vh;
  }
  .AccessMapFilter{
    position: absolute;
    right: 35px;

    width: 73px;
    height: 73px;
    border-radius: 48px;
    border: none;

  }

}

#map{
  width: 10000px;
  position: relative;
  height: 1000px;
  z-index: -20;
}

.FilterMap{
  display: none;
  flex-direction: column;
  position: relative;

  height: 780px;
  width: 370px;
  --filter-width: 370px;
  --negative-filter-width: -370px;
  transform: translate(var(--negative-filter-width));

  z-index: 100;
  padding: 37px;
  background-color: white;
  .FilterMapTitle{
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    h2{
      display: flex;
      justify-content: center;

      font-family: "Euclid Triangle";
      font-size: 24px;
      font-weight: bold;
    }
    .CloseFilter{
      left: 40px;
      margin-right: 90px;

      border: none;
      cursor: pointer;

      display: flex;
      justify-content: center;
      position: absolute;

      font-family: Inter, serif;
      font-size: 34px;
      font-weight: bolder;
      background-color: white;
    }
  }
  .FilterMapSectionTitle{
    margin-bottom: 35px;
    h3{
      font-family: "Euclid Triangle";
      font-size: 24px;
    }
  }
  .FilterMapSection{
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
    .FilterMapFilterSectionIcons{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 8px;
      .FilterMapFilterSectionIcon{
        width: 57px;
        height: 57px;
        border-radius: 30px;
        border: 1px black solid;
      }
    }
    .FilterMapRadiusSectionSlider{
      .progress {
        background: white;
        border: solid 1px black;
        border-radius: 8px;
        height: 7px;
        width: 266px;

        outline: none;
        transition: background 450ms ease-in;
        -webkit-appearance: none;
      }
    }
  }

}

.FilterIcon{
  position: absolute;
  right: 35px;
  top: 290px;

  width: 73px;
  height: 73px;
  border-radius: 48px;
  border: none;
  cursor: pointer;

  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  transform: translate(0px);
  img{
    object-fit: contain;
    width: 56px;
    height: 56px;
  }
}

.activeMap{
  transform: translate(0px);
  display: flex;

}
.activeIcon{
  transform: translate(0px);
}
