*{
  overflow-x: hidden;
}

.sectionSearchBar{
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  .accessSearchBar{
    width: 660px;
    display: flex;
    align-items: center;
    .accessSearchInput{
      background-color: #C1C1C1;
      width: 660px;
      height: 50px;
      border-radius:330px;
      color: white;
      border: none;
      padding-left: 60px;
      ::placeholder{
        color: white;
      }
    }
    img{
      position: absolute;
      margin-left: 15px;
    }
  }
}
.AccessMap{
  display: flex;
  --map-height: 100vh;
  height: var(--map-height);

  .Placeholder{
    width: 100vw;
  }
}


.FilterMap{

  background-color: white;
  display: none;
  position: relative;
  width: 370px;
  --filter-width: 250px;
  --negative-filter-width: -250px;
  height: var(--map-height);
  transform: translate(250px);

  padding: 37px ;

  .FilterMapTitle{
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    h2{
      font-family: "Euclid Triangle";
      font-size: 24px;
      font-weight: bold;
    }
  }
  .FilterMapSectionTitle{
    margin-bottom: 35px;
    h3{
      font-family: "Euclid Triangle";
      font-size: 24px;
    }
  }
  .FilterMapSection{
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;

    .FilterMapFilterSectionIcons{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 8px;
      .FilterMapFilterSectionIcon{
        width: 45px;
        height: 45px;
        border-radius: 30px;
        border: 1px black solid;
      }
    }
    .FilterMapRadiusSectionSlider{
      .progress {
        background: white;
        border: solid 1px black;
        border-radius: 8px;
        height: 7px;
        width: 266px;

        outline: none;
        transition: background 450ms ease-in;
        -webkit-appearance: none;
      }
    }
  }

}

.FilterIcon{
  position: absolute;
  right: 35px;
  top: 290px;

  width: 73px;
  height: 73px;
  border-radius: 48px;
  border: none;
  z-index: 20;
  cursor: pointer;

  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  transform: translate(0px);
  img{
      object-fit: contain;
      width: 56px;
      height: 56px;
    }
}

.activeMap{
  transform: translate(0px);
  display: block;

}
.activeIcon{
  transform: translate(0px);
}

.LocationBtn{
  background-color: transparent;
  width: 80px;
  height: 115px;
  border: none;
  cursor: pointer;
  img{
    width: 80px;
    height: 115px;
  }
}

.Location{
  width: 100%;
  height: 575px;
  padding: 85px 110px;
  display: none;
  background-color: transparent;
  img{
    margin-right: 73px;
  }
  .LocationPres{
    font-family: "Euclid Flex Medium";
    .LocationTitle{
      font-weight: normal;
      font-size: 32px;
      margin-bottom: 20px;

    }
    .LocationTabs{
      display: flex;
      gap: 20px;
      margin-bottom: 40px;
      .Tab{
        font-family: "Euclid Triangle";
        font-weight: normal;
        font-size: 32px;
        color: white;

        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        height: 60px;
        background-color: darkgrey;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 10px;
      }
      .activeTab{
        background-color: #DBB326;

      }
    }
    .LocationText{
      margin-left: 30px;
      li {
        counter-increment: my-awesome-counter;
        font-size: 24px;
        gap: 10px;
      }
      ol li::before {
        content: counter(my-awesome-counter) ". ";
      }
    }
  }
}

.activeLocation{
  display: flex;
}

.options{
  transform: translateX(-40px);
  transform: translateY(20px);
  z-index: 20;
  height: 50px;
  width: 150px;
  position:relative;
}

options::before{
  content:"<ezaeazezae" !important;
  display: inline !important;
  position: relative !important;
  width: 50px !important;
  height: 50px !important;
  top:0;
  left: 30px;
  color: red;
  background-color: yellow;
}

.FilterIcon{
  background-color: transparent;
}

.FilterMapTitle{
  overflow-y: hidden;
}


