.tempMarg{
  height: 100px;
}

.sectionSearchBar{
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  .accessSearchBar{
    width: 660px;
    display: flex;
    align-items: center;
    .accessSearchInput{
      background-color: #C1C1C1;
      width: 660px;
      height: 50px;
      border-radius:330px;
      color: white;
      border: none;
      padding-left: 60px;
      ::placeholder{
        color: white;
      }
    }
    img{
      position: absolute;
      margin-left: 15px;
    }
  }
}
.testLocation{
  width: 80px;
  height: 50px;
  background-color: blue;
  color: white;
}



.AccessMap{
  display: flex;
  --map-height: 100vh;
  height: var(--map-height);
  background-color: red;

  .Placeholder{
    width: 100vw;
  }
}
.FilterMap{
  display: none;
  position: relative;
  width: 250px;
  --filter-width: 250px;
  --negative-filter-width: -250px;
  height: var(--map-height);
  background-color: darkgrey;
  transform: translate(250px);
}
.FilterIcon{
  position: absolute;
  right: 35px;

  width: 73px;
  height: 73px;
  border-radius: 48px;
  border: none;
  z-index: 20;

  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  transform: translate(0px);
  img{
      object-fit: contain;
      width: 56px;
      height: 56px;
    }
}

.activeMap{
  transform: translate(0px);
  display: block;

}
.activeIcon{
  transform: translate(0px);
}


