.dashboardRequest {
    width: 100%;
    padding-left: 20vw;
    display: flex;
    flex-direction: column;
    font-family: 'Euclid Flex';
    h1{
        font-weight: 600;
        font-size: 26px;
        text-transform: uppercase;
        padding: 50px 50px 20px 50px;
    }
    .option{
        width: 100%;
        display: flex;
        gap: 100px;
        padding: 0 50px 35px;
        align-items: center;
        .sort{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            input{
                background: #aeadad;
                border-radius: 10px;
                padding: 10px 15px;
                border: none;
                color: white;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .filter{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            background: #aeadad;
            border-radius: 10px;
            padding: 10px 15px;
            select{
                background: none;
                border: none;
                color: white;
                &:hover{
                    cursor: pointer;
                }
                &:focus{
                    outline: none;
                }
            }
            input{
                background: none;
                border: none;
                color: white;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    .allcard{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        padding: 0px 50px 20px 50px;

        @media screen and (max-width: 1300px){
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width: 750px){
            grid-template-columns: repeat(1, 1fr);
        }
        .card{
            background: #D9D9D9;
            border-radius: 20px;
            .card-header{
                width: 100%;
                img{
                    width: 100%;
                    max-height: 130px;
                    object-fit: fill;
                    border-radius: 20px 20px 0 0;
                }
            }
            .card-body{
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 15px 10px;
                .firstRow{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    .name{
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        span{
                            font-style: italic;
                            font-size: 12px;
                            color: #707070;
                        }
                        .space{
                            h2{
                                font-weight: 400;
                                font-size: 18px
                            }
                            p{
                                color: #707070;
                                font-size: 14px;
                            }
                        }
                    }
                    .status{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding-right: 10px;
                        p{
                            color: #434343;
                        }
                        img{
                            width: 40%;
                        }
                    }
                }
                
                .info{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    .tel{
                        display: flex;
                        flex-direction: row;
                        gap: 10px;
                        p{
                            color: #434343;
                        }
                    }
                    .button{
                        background: #3A4D92;
                        border-radius: 25px;
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        padding: 10px 15px;
                        gap: 10px;
                        a{
                            color: white;
                            text-decoration: none;
                            display: flex;
                            align-items: center;
                            gap: 10px;
                        }
                    }
                }
            }
        }
    }
}