@import url('https://fonts.cdnfonts.com/css/euclid-flex');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Euclid Triangle', sans-serif;
}

.index {
  width: 100%;
  height: 100%;
  background: #ffffff;
}

.navbar{
  width: 100%;
  height: 100px;
  background: #05306E;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.navbar>ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar>ul>li{
  list-style: none;
  margin: 0 40px;
}

.navbar>ul>li>a{
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}

.navbar-toggle {
  display: none;
}

.navbar>img{
  width: 300px;
}

.accueil-content{
  height: 573px;
  width: 100%;
  
  
  img{
    z-index: -1;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 573px;
  }
  
  .accueil-text{
    h1{
      padding-top: 140px;
      text-align: center;
      font-size: 48px;
      font-weight: 700;
      color: #ffffff;
      margin-bottom: 20px;
    }
    h2{
      text-align: center;
      font-size: 24px;
      font-weight: 500;
      color: #ffffff;
      margin-bottom: 20px;
    }
    h3{
      text-align: center;
      font-size: 20px;
      font-weight: 300;
      color: #ffffff;
      margin-bottom: 20px;
    }
    div{
      padding-top: 90px;
      text-align: center;
      a{
        text-decoration: none;
      }
      .button{
        border-radius: 16px;
        padding: 10px 40px;
        display: inline;
        background-color: #0952BA;
      }
    }
    
  }

}
.presentation-content{
  padding-left: 111px;
padding-right: 147px;
  h2{
    padding-top: 90px;
    font-size: 30px;
    font-weight: 700;
  }
  h3{
    line-height: 60px;
    padding-top: 35px;
    font-size: 24px;
    font-weight: 400;
  }
}
.objectif-content {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: 111px;
  padding-right: 147px;
  display: flex;
}
/*----------------- Section referencement de particulier -------------------*/
.refParticuliers{
  display: flex;
  justify-content: center;
  align-items: center;
  .refParticuliersBox{
    background-color: #05306E;
    color: white;
    min-height: 217px;
    width: min(90%, 1200px);
    border-radius: 20px;
    margin-top: 100px;
    padding: 40px 50px 80px;
    @media screen and (max-width: 840px) {
      padding: min(20px, 40px) min(25px, 50px);
      min-width: 333px;
      height: min(117px, 260px);
    }
    justify-content: center;
    align-items: center;
    display: flex;
    @media screen and (max-width: 840px) {
      flex-direction: column;
    }
    .refParticuliersDesc{
      font-family: "Euclid Triangle", sans-serif;
      margin-right: 183px;
      display: flex;
      flex-direction: column;
      gap: 25px;
      @media screen and (max-width: 840px) {
        margin-right: 0px;
        gap: 17px;
      }
      .refParticuliersTitle{
        font-size: 32px;
        @media screen and (max-width: 840px) {
          font-size: 20.5px;
        }
      }
      .refParticuliersText{
        font-size: 20px;
        @media screen and (max-width: 840px) {
          font-size: 13.5px;
        }
      }
    }
    .refParticuliersButtonBox{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 35px;
      margin-top: 20px;
      @media screen and (max-width: 840px) {
        justify-content: end;
        width: 100%;
        margin-right: 0px;
      }
      .refParticuliersButton{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 50px;
        border-radius: 10px;

        background-color: #0952BA;
        color: white;
        border: none;
        font-family: "Euclid Flex";
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
        @media screen and (max-width: 840px) {
          font-size: 16.5px;
          width: 125px;
          height: 40px;
        }
      }
    }

  }
}
/*---------------------- Carousel Avis  -------------------------------*/

.AvisCard{
  display: flex;
  flex-direction: column;
  background-color: #F9F9F9;
  width: 410px;
  height: 230px;
  border-radius: 10px;
  box-shadow:5px  5px 5px grey;
  .AvisName{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Euclid Triangle", sans-serif;
    font-weight: bold;
    font-size: 32px;
    padding-top: 25px;
    margin-bottom: 25px;
  }
  .AvisFlex{
    display: flex;
    flex-direction: column;
    align-items: end;
    .AvisText{
    margin-bottom: 30px;
    margin-right: 37px;
    margin-left: 37px;
    .AvisTitle{
      font-family: "Euclid Triangle", sans-serif;
      font-weight: bold;
      font-size: 24px;
      margin-bottom: 10px;
    }
    .AvisComment{
      font-family: "Euclid Triangle", sans-serif;
      font-size: 15px;
    }
  }
    .AvisDate{
        font-family: "Euclid Triangle", sans-serif;
        font-size: 15px;
        padding-bottom: 70px;
        margin-right: 15px;
    }
  }
}

.CarouselAvis {
  margin-top: 113px;
  margin-left: 112px;
  margin-right: 112px;
  @media screen and (max-width: 1125px) {
    display: none;

  }

  h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Euclid Flex SemiBold", sans-serif;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 70px;
  }
  .bloc{
    display: flex;
  }


  .diapo{
    overflow: hidden;
    padding-bottom: 10px;
    position: relative;
    z-index: 1;
    width: 100vw;
  }
  #nav-droite, #nav-gauche{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(255, 0, 0);
    font-size: 3em;
  }
  #nav-droite{
    right: 10px;
    opacity: 50%;
    display: none;
  }
  #nav-gauche{
    left: 20px;
    opacity: 50%;
    display: none;

  }
  .elements{
    display: flex;
    transition: 1s linear;
    gap: 60px;

  }
  .element{
    flex: 1 0 60px;
  }
}

/*----------------- Listes des partenaires -------------------*/
.partenaires{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 115px;
  flex-wrap: wrap;
  @media screen and (max-width: 1118px) {
    display: none;
  }

  .partenairesTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Euclid Flex SemiBold", sans-serif;
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 70px;
  }
  .partenairesLogos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 1000px;
    gap: 10px;
    @media screen and (max-width: 900px) {

    }
    .img1{
      width: 100px;
      height: 50px;
    }
    .img2{
      width: 112px;
      height: 83px;
    }
    .img3{
      width: 220px;
      height: 120px;
    }
    .img4{
      width: 100px;
      height: 100px;
    }
    .img5{
      width: 240px;
      height: 120px;
    }
    .img6{
      width: 100px;
      height: 90px;
    }
  }
}



/*----------------- Formulaire de contact -------------------*/

.contactSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  .contactTitle{
    font-family:"Euclid Flex SemiBold";
    font-size: 32px;
    margin-bottom: 35px;
    margin-top: 70px;
    margin-left: -600px;
    @media screen and (max-width: 900px){
      margin-left: -50px;
      margin-right: 50px;
      margin-bottom: 0px;
    }
  }
  .contactForm{
    display: flex;
    flex-direction: column;
    width: min(1100px ,100%);
    margin-top: 37px;
    align-items: center;
    @media screen and (max-width: 900px) {
      margin-top: 23px;
    }
      .contactFormUpperSide{
      display: flex;
      flex-direction: row;
      @media screen and (max-width: 900px){
        flex-direction: column;
        justify-content: center;
        align-items: center;

      }
      .contactFormUpperLeftSide{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 50px;
        @media screen and (max-width: 900px){
          margin-right: 0px;

        }
        input{
          font-family: "Euclid Flex";
          font-size: 24px;
          width: 390px;
          height: 55px;
          border-radius: 10px;
          margin-top: 25px;
          padding-left: 20px;
          @media screen and (max-width: 900px){
            width: 333px;
            margin-top: 15px;
          }
        }
      }
      .contactFormUpperRightSide{
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        input{
          font-family: "Euclid Flex";
          font-size: 24px;
          width: 380px;
          height: 55px;
          border-radius: 10px;
          margin-top: 25px;
          padding-left: 20px;
          @media screen and (max-width: 900px){
            width: 333px;
            margin-top: 15px;

          }
        }
      }
    }
    .contactFormBottomSide{
      textarea{
        width: 820px;
        height: 280px;
        font-family: "Euclid Flex";
        font-size: 24px;
        border-radius: 14px;
        margin-top: 25px;
        padding-top: 20px;

        padding-left: 20px;
        @media screen and (max-width: 900px){
          width: 333px;
          margin-top: 15px;
        }

      }
    }
    button{
      margin-top: 20px;
      width: 820px;
      height: 50px;
      border-radius: 10px;
      background-color: #0952BA;
      color: white;
      border: none;
      font-family: "Euclid Triangle", sans-serif;
      font-size: 20px;
      font-weight: bold;
      @media screen and (max-width: 900px){
        width: 333px;
        margin-top: 15px;
      }
    }
  }
}


  .objectif{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    padding-bottom: 40px;

    border-radius: 15px;
    width: 564px;
    background-color: #05306E;
    h2{
      margin-bottom: 40px;
      color: #ffffff;
    font-size: 30px;
    font-weight: 700;

    }
    h3{
      color: #ffffff;
      line-height: 40px;
      font-size: 24px;
      font-weight: 400;

    }
  }
  .access{
    margin-left: 68px;

    h2{
      font-size: 32px;
      font-weight: 700;

    }
    h3{
      margin-top: 30px;
      color: #000000;
      font-size: 24px;
      font-weight: 400;

    }
    div{
      display: flex;
      justify-content: right;
      margin-top: 30px;
      margin-right: 100px;
      a{
        text-decoration: none;
  
  
        h3{  
          display: inline;
          background-color: #0952BA;
          color: #fff;
          padding: 10px 58px;
          border-radius: 16px;
          font-size: 30px;
          font-weight: 600;
        }
    }
    }
  }
  

.frise-content{
  margin-left: 100px;
  .frise {
    border-radius: 10px;
    display:inline-flex;
    justify-content: center;
    gap: 14%;
    align-items: center;
    height: 9px;
    width: 90%;
    background-color: #05306E;
    padding: 0 10px;
  
    .point {

      font-size: 30px;
      height: 60px;
      width: 60px;
      border-radius: 50%;
      background-color: #05306E;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      .stick-bottom {
        border-radius: 10px;
        border-radius: 10px;
        margin-top: 90px;
        z-index: -1;
        position: absolute;
        height: 150px;
        width: 9px;
        background-color: #05306E;
      
      }
      .stick-top {
        border-radius: 10px;
        margin-bottom: 90px;
        z-index: -1;
        position: absolute;
        height: 150px;
        width: 9px;
        background-color: #05306E;
      
      }
  
    }
  }
}
.frise-content-bis{
  display: none;  
}
.text-bottom-frise{
  margin-top: 140px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: right;
  gap: 7%;
  .first-text{
    width: 30%;
    h2{
      font-size: 30px;
      font-weight: 700;
    }
    h3{
      
      font-size: 24px;
      font-weight: 400;
    }
  }
  .second-text{
    width: 30%;
    h2{
      font-size: 30px;
      font-weight: 700;
    }
    h3{
      
      font-size: 24px;
      font-weight: 400;
    }
  }
}
.text-top-frise{
  margin-bottom: 140px;
  margin-top: 100px;
  margin-left: 200px;
  display: flex;
  justify-content: left;
  gap: 8%;
  .first-text{
    width: 30%;
    h2{
      font-size: 30px;
      font-weight: 700;
    }
    h3{
      
      font-size: 24px;
      font-weight: 400;
    }
  }
  .second-text{
    width: 30%;
    h2{
      font-size: 30px;
      font-weight: 700;
    }
    h3{
      
      font-size: 24px;
      font-weight: 400;
    }
  }
}

@media (max-width:1200px){
  .objectif-content{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 90px;
  padding-right: 110px;
    display: block;
  
    .objectif{
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 40px;
      padding-bottom: 40px;
  
      border-radius: 15px;
      width: 100%;
      background-color: #05306E;
      h2{
        
        margin-bottom: 40px;
        color: #ffffff;
      font-size: 26px;
      font-weight: 700;
  
      }
      h3{
        color: #ffffff;
        line-height: 40px;
        font-size: 20px;
        font-weight: 400;
  
      }
    }
    .access{
      margin-top: 50px;
      margin-left: 0px;
  
      h2{
        font-size: 28px;
        font-weight: 700;
  
      }
      h3{
        margin-top: 30px;
        color: #000000;
        font-size: 20px;
        font-weight: 400;
  
      }
      div{
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        a{
          text-decoration: none;
    
    
          h3{  
            display: inline;
            background-color: #0952BA;
            color: #fff;
            padding: 10px 58px;
            border-radius: 16px;
            font-size: 26px;
            font-weight: 600;
          }
      }
      }
    }
    
  }
  .text-bottom-frise{
    margin-top: 140px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: right;
    gap: 7%;
    .first-text{
      width: 30%;
      h2{
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 700;
      }
      h3{
        
        font-size: 18px;
        font-weight: 400;
      }
    }
    .second-text{
      width: 30%;
      h2{
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 700;
      }
      h3{
        
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
  .text-top-frise{
    margin-bottom: 140px;
    margin-top: 100px;
    margin-left: 200px;
    display: flex;
    justify-content: left;
    gap: 8%;
    .first-text{
      width: 30%;
      h2{
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 700;
      }
      h3{
        
        font-size: 18px;
        font-weight: 400;
      }
    }
    .second-text{
      width: 30%;
      h2{
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 700;
      }
      h3{
        
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
}
  
    
@media (max-width: 850px) {

  .navbar{
    padding: 0 20px;
  }

  .navbar>img{
    width: 200px;
  }

  .navbar-toggle {
    display: block;
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 30px;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .navbar>ul {
    text-align: center;
    align-items: center;
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #05306E;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .navbar>ul>li {
    display: block;
    margin-bottom: 10px;
  }
  
  .navbar>ul>li>a {
    font-size: 18px;
  }
  
  .navbar-toggle.active {
    display: block;
  }
  .navbar>ul.active {
    display: block;
  }
  .presentation-content{
    padding-left: 70px;
    padding-right: 40px;
    h2{
      padding-top: 90px;
      font-size: 26px;
      font-weight: 700;
    }
    h3{
      line-height: 46px;
      padding-top: 35px;
      font-size: 20px;
      font-weight: 400;
    }
  }
  .frise-content{
    display: none;
    position: absolute;
  }

  .global-frise{
    display: flex;
    justify-content: center;

    .frise-content-bis{
      display: block;
      margin-left: 6%;
      margin-right: 6%;
      .frise {
        display:block;
      
        background-color: #05316e00;    
        .point {
          margin-bottom: 127px;
          font-size: 24px;
          height: 45px;
          width: 45px;
          border-radius: 50%;
          background-color: #05306E;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          .stick-bottom {
            border-radius: 10px;
            margin-bottom: -100px;
            z-index: -1;
            position: absolute;
            height: 230px;
            width: 9px;
            background-color: #05306E;
          }
          .stick-top {
            border-radius: 10px;
            margin-bottom: -170px;
            z-index: -1;
            position: absolute;
            height: 210px;
            width: 9px;
            background-color: #05306E;
          
          }
      
        }
      }
    }
  }
  .text-bottom-frise{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    display: block;
    .first-text{
      margin-bottom: 80px;
      text-align: center;

      width: 90%;
      h2{
        font-size: 24px;
        font-weight: 700;
      }
      h3{
        
        font-size: 18px;
        font-weight: 400;
      }
    }
    .second-text{
      text-align: center;
      margin-bottom: 80px;
      width: 90%;
      h2{
        font-size: 24px;
        font-weight: 700;
      }
      h3{
        
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
  .text-top-frise{
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    display: block;
    .first-text{
      text-align: center;
      margin-bottom: 80px;
      width: 90%;
      h2{
        font-size: 24px;
        font-weight: 700;
      }
      h3{
        
        font-size: 18px;
        font-weight: 400;
      }
    }
    .second-text{
      text-align: center;
      margin-bottom: 80px;
      width: 90%;
      h2{
        font-size: 24px;
        font-weight: 700;
      }
      h3{
        
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
  .objectif-content{
    padding-left: 60px;
  padding-right: 60px;
  }
}

@media (max-width: 550px) {
  .accueil-content{
    .accueil-text{
      h1{
        font-size: 38px;
      }
    }
  }
  

  .objectif-content{
    padding-left: 30px;
  padding-right: 30px;
  }

  .presentation-content{
    padding-left: 30px;
    padding-right: 50px;

    h2{
      font-size: 22px;
    }
    h3{
      font-size: 18px;
    }
  }
  .objectif-content{

    .objectif{

      h2{
        font-size: 22px;
      }
      h3{
        font-size: 18px;
      }
    }
    .access{
      h2{
        font-size: 22px;
      }
      h3{
        font-size: 18px;
      }
      div>a>h3{
        font-size: 18px;
      }
  }

  
  }
  .text-frise-block{

    .text-top-frise{
      .first-text{
        margin-bottom: 40px;
        h2{
          font-size: 22px;
        }
        h3{
          font-size: 18px;
        }
      }
      .second-text{
        margin-bottom: 40px;

        h2{
          font-size: 22px;
        }
        h3{
          font-size: 18px;
        }
      }
    }

    .text-bottom-frise{
      .first-text{
        margin-bottom: 40px;

        h2{
          font-size: 22px;
        }
        h3{
          font-size: 18px;
        }
      }
      .second-text{
        margin-bottom: 40px;

        h2{
          font-size: 22px;
        }
        h3{
          font-size: 18px;
        }
      }
    }
  }
  
}
