.login{
    width: 100%;
    height: 100vh;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    .containerLeft{
        width: 45%;
        background-color: #123B2A;
        display: flex;
        align-items: center;
        .title{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img{
                width: 60%;
            }
            h1{
                font-family: 'Kanit';
                color: #FFFFFF;
                font-size: 80px;
            }
        }
    }
    .containerRight{
        width: 55%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .formContainer{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .mainContainer{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-bottom: 80px;
                gap: 20px;
                h2{
                    font-family: 'Kanit';
                    font-size: 36px;
                }
                p{
                    font-family: 'Euclid Flex';
                    font-size: 20px;
                    color: #434343;
                }
            }
            form{
                width: 65%;    
                gap: 30px;
                display: flex;
                flex-direction: column;
                .labelContainer{
                    border: 1px solid #000000;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    padding: 5px 15px;
                    input{
                        border: none;
                        outline: none;
                        font-family: 'Roboto';
                        font-size: 20px;
                        color: #434343;
                    }
                }
                button{
                    background: #3A4D92;
                    border-radius: 23px;
                    border: none;
                    padding: 15px 20px;
                    font-family: 'Roboto';
                    font-weight: 400;
                    font-size: 18px;
                    color: #FFFFFF;
                    margin: 5% 25%;
                }
            }
        }
    }
}