@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

// Colors
$background-color: #123B2A;